{% extends 'base.html' %}
{% block nav %}{% endblock %}
{% block content %}
<div class="container">
	<br><br><br>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
        	<form class="form-center" method="post">
    			<h2>Add database</h2></br>
                {% if error %}
                    <h4 class="red-color"> {{ error }} </h4>
                {% endif %}
                <label>Shortname:</label>
                {{ form.shortname(class="form-control", placeholder="Connection shortname (unique)") }}

    			<label>Host:</label>
                {{ form.host(class="form-control", placeholder="Server IP address") }}

    			<label>Port:</label>
    			{{ form.port(class="form-control", placeholder="Server port") }}

                <label>Drivername:</label>
                {{ form.drivername(class="form-control") }}

                <label>Username:</label>
                {{ form.username(class="form-control", placeholder="Database username") }}

                <label>Password:</label>
                {{ form.password(class="form-control", placeholder="Database password") }}

                <label>Database name:</label>
                {{ form.database(class="form-control", placeholder="Database name") }}
                </br>
    			<button class="btn btn-lg bg-light-blue white-color btn-block btn-add" type="submit">Add</button>
        		<a href="/" style="text-decoration: none">Return</a></br>
			</form>
        </div>
    </div>
</div>
{% endblock %}