{% extends 'base.html' %}

{% block database_bar %}
    {{ generate_db_nav_items("BROWSE", strreplace(request.path, "/browse", ""), "table")|safe }}
{% endblock %}


{% block results %}
    <h4 class="np">Table: {{ table_name }}</h4>
    <div class="container-fluid np nm">
        <div class="col-md-1 np">
            {% if prev %}
                <h4>
                    <a href="{{ request.path }}?offset={{ offset }}&page={{ prev }}">
                        Previous
                    </a>
                </h4>
            {% endif%}
        </div>

        <div class="col-md-1">
            {% if next %}
                <h4>
                    <a href="{{ request.path }}?offset={{ offset }}&page={{ next }}">
                        Next
                    </a>
                </h4>
            {% endif %}
        </div>
    </div>
    <table class="table table-bordered table-hover table-responsive table-condensed">
        <tr>
            {% for key in keys %}
                <th>
                {{key}}
                <p>{{types[loop.index-1]}}</p>
                </th>
            {% endfor %}
        </tr>
        {% for row in rows %}
            <tr>
                {% for cell in row %}
                    <td class="lp-i">
                        {{ cell }}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
{% endblock %}